<img class="avatar" ng-src="{{ usersShow.user.photo }}" alt="Description" />

<div class="userProfile">
<!-- <p>Username - {{ usersShow.user.username }}</p> -->

<p>Name - {{ usersShow.user.name }}</p>
<p>Surname - {{ usersShow.user.surname }}</p>
<p>Bio - {{ usersShow.user.bio }}</p>
<!-- <p>Photo - {{ usersShow.user.photo }}</p> -->
<p>Country - {{ usersShow.user.country.country_name }}</p>
<p>Email - {{ usersShow.user.email }}</p>
<p>Phone_number -{{ usersShow.user.phone_number }}</p>

</div>
