<h1>New Seminar</h1>

<form class="logi-reg" ng-submit="vm.addSeminar()">
  <div class="form-group">
    <input class="form-control" type="text" name="seminar_name" ng-model="vm.seminar.seminar_name" placeholder="Enter seminar Title">
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="description" ng-model="vm.seminar.description" placeholder="Enter seminar Description">
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="vm.seminar.image" placeholder="Enter link for seminar image">
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="location_address" ng-model="vm.seminar.location_address" placeholder="Enter seminar Address (City, Street name)">
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="date" ng-model="vm.seminar.date" placeholder="Enter seminar Start date (YYYY-MM-DD)">
  </div>

  <div class="form-group">
    <select class="form-control" type="text" name="date" ng-model="vm.seminar.teaching_module_id" ng-options="option.id as option.teaching_module_title for option in vm.teaching_modules"></select>
  </div>

  <div class="form-group">
    <select class="form-control" type="text" name="date" ng-model="vm.seminar.country_id" ng-options="option.id as option.country_name for option in vm.countries" placeholder="Select seminar country"></select>
  </div>




  <div class="buttonHolder">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</form>
