<h1>Seminar show:</h1>

<h3>{{ SeminarsShow.seminar.seminar_name }}</h3>
<h4>{{ SeminarsShow.seminar.description }}</h4>
<h4>{{ SeminarsShow.seminar.teaching_module.teaching_module_title }} </h4>
<h4>{{ SeminarsShow.seminar.teaching_module.teaching_module_description }} </h4>
<h4>{{ SeminarsShow.seminar.location_address }}</h4>
<h4>{{ SeminarsShow.seminar.country.country_name }} </h4>
<h4>{{ SeminarsShow.seminar.date }} </h4>
<ul ng-repeat="user in SeminarsShow.seminar.users">
  <li>{{user.name}}</li>
</ul>
<button type="button" ng-click="SeminarsShow.attendSeminar()" name="button">Attend</button>
