
<div>
  <div ng-repeat="seminar in seminarsIndex.seminars" class="container" id="seminarContainer">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-7">
        <div class="row">
          <div class="col-sm-offset-0 col-sm-4">
            <img class="seminarImageIndex" ng-src="{{ seminar.image }}" alt="Description" />
          </div>
          <div class="col-sm-7">
            <div class="eventHeading">
              <h5 class="media-heading">{{ seminar.seminar_name }}</h5>
              <p>{{ seminar.date }}</p>
              <p>{{ seminar.country.country_name}}, {{ seminar.location_address }}</p>
              <div class="buttonHolder">
                <input class="btn btn-primary" ui-sref="seminarsShow({ id: seminar.id})" type="submit" value="Find out more...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
