<!-- <h1>Seminars index</h1>

<div class="media" ng-repeat="seminar in seminarsIndex.seminars">
  <div class="media-left">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ seminar.seminar_name }}</h4>
    <p>{{ seminar.location_address }}</p>
    <p>{{ seminar.description }}</p>
    <p>{{ seminar.date }}</p>
    <p>{{ seminar.country.country_name}}</p>
    <p>{{ seminar.teaching_module.teaching_module_title}}</p>


  </div>
</div> -->

<ul>
  <li ng-repeat="seminar in seminarsIndex.seminars">
    <h2 ui-sref="seminarsShow({ id: seminar.id })">{{ seminar.seminar_name }}</h2>
    <h4>{{ seminar.country.country_name }}</h4>
  </li>
</ul>
